			<div class='comment margin-top-20 margin-bottom-20'>
				<span><%= @comment.created_at %></span>
				<br />
				<span><strong><%= @comment.author %> said:</strong></span>
				<div class='comment_content'>
					<%= @comment.content %>
				</div>
			</div>