		<div class='minimal-length'>
			<div class='row-fluid'>
				<div id='footer' class='span8 offset2 seperator'>
				Copyright&copy;2012 CMS Engine. All rights reserved.
				</div>
			</div>
		</div>

