		<div id='header' class='row-fluid'> 
			<div class='span2 left'>				
			</div>
			<div class='span8 center'>				
			</div>
			<div class='span2 right'>				
			</div>
		</div>
		
	
		<div class='row-fluid' id='banner'> 
			<div class='span8 offset2'>					
				<div class="hero-unit">
					<h1>Welcome to our blog</h1>
					<p>Create a blog with CMS Engine. We provide excellent free-of-charge services.</p>
					<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
				</div>
			</div>				
		</div>